<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control
        (gameTick)="onGameTick($event)">
      </app-game-control>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let tick of gameTicks"
         class="col-xs-12">
      <app-odd [value]="tick" *ngIf="tick % 2 != 0"></app-odd>
      <app-even [value]="tick" *ngIf="tick % 2 == 0"></app-even>
    </div>
  </div>
</div>
